body {
    background-color: #f5f5f5;
    /* font-family: 'Open Sans', sans-serif; */
    background-image: url('../images/background.jpg');
    
    background-size: cover;
   

}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* .icon-inner, .ionicon, svg {
    color: red;
} */

ion-icon {
    pointer-events: none;
  }

.card {
    border-radius: 20px;
}

.card-header {
    background-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:#0031ff;
}

.table a {
    color: inherit;
    text-decoration: underline;
}

.table a:hover {
    color: #0031ff;
    text-decoration: underline;
}

.btn.focus,
.btn:focus,
.btn:active {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bg-white {
    /* background-color: #545863 !important; */
}

ion-icon {
    font-size: 24px;
}

ion-icon:hover {
    cursor: pointer;
}

::-webkit-file-upload-button {
    background: none;
    border: none;
    cursor: pointer;
}

tr {
    border-top: hidden;
}

#remove:hover {
    color: red;
}

#edit:hover {
    color: #0031ff;
}

#edit:focus {
    color: #0031ff;
}

#toggle:hover {
    color: #0031ff !important;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.3rem 0.8rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 1rem;
}

.btn,
.btn-group- > .btn {
    /* padding: 0.3rem 0.8rem; */
    font-size: 0.7875rem;
    /* line-height: 1.5; */
    border-radius: 2rem;
}

form {
    display: inline;
    /* line-height: 0px; */
}

.form-control {
    border-radius: 12px;
}

table {
    /* border-collapse: separate; */
    border-radius: 12px;
}

tr:last-child td:last-child {
    /* background-color: red; */
    border-bottom-right-radius: 12px;
}

.table tr:last-child th:first-child {
    border-bottom-left-radius: 12px;
    /* background-color: red; */
}

.btn-primary {
    color: #fff;
    background-color: #0031ff;
    border-color: #0031ff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0027cc;
    border-color: #0027cc;
}

.btn-primary:focus {
    color: #fff;
    background-color: #0027cc;
    border-color: #0027cc;
}

.table-striped tbody {
    background-color: #f5f5f5;
}

.modal-content {
    border-radius: 20px;
    border: none;
}
.sidenav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
   padding-left: 0.5rem;
    padding-right: 0.1rem;
    overflow-y: auto;
        margin-right: 280px;
}


.linkjes{
     padding: 8px;
    text-decoration: none;
    font-size: 36px;
   
    display: block;
    transition: 0.3s;

}

.logo img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}